extends ../../../layouts/modals/tpl

block variables
  - modalId = "error-modal"
  - modalClasses = "error-modal"
  - modalTitle = 'Ошибка'
  - modalPreviewText = ''

block modalContent
  p.text Что то пошло не так! Попробуйте еще раз или свяжитесь с администратором!
 
  
