.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 245, 245, 0.8);

	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: opacity var(--main-transition);

	&:has(.loader.active) {
		opacity: 1;
		visibility: visible;
		z-index: 301;
	}
}
.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	position: relative;
	z-index: 199;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	--c: no-repeat
		radial-gradient(farthest-side, var(--primary-light-color) 92%, #0000);
	background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 12px 12px;
	animation: l12 1s infinite;
}
.loader::before {
	margin: 4px;
	filter: hue-rotate(30deg);
	background-size: 8px 8px;
	animation-timing-function: linear;
}

@keyframes l12 {
	100% {
		transform: rotate(0.5turn);
	}
}
