extends ../../../layouts/modals/tpl

block variables
  - modalId = "promo-modal"
  - modalClasses = "promo-modal"
  - modalTitle = 'Бесплатное занятие'
  - modalPreviewText = ''

block modalContent

  +form({
    fields: [
      {
        type: "form-data-hidden",
        value: "Запись на бесплатное занятие"
      },
      {
        type: "text",
        name: "Имя",
        placeholder: "Имя",
        required: true
      },
      {
        type: "tel",
        name: "Телефон",
        placeholder: "Телефон",
        required: true
      },
      {
        type: "checkbox",
        name: "Согласие на обработку персональных данных",
        required: true,
        id: "promo-modal-consent",
        label: `Я согласен с условиями обработки <button type="button" data-modal-opener="policy-modal" class="link link--underlined">персональных данных</button>`
      }
    ],
    buttonText: "Отправить"
  })