extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'courses section--decorated'
  - sectionID = 'online-training'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Онлайн обучение', class: 'label--dotted' }
  - sectionTitle = 'Дистанционные программы'
  - sectionText = '<p>Академия Водных Искусств рада представить уникальную возможность для наших учеников — онлайн тренировки! Мы понимаем, что в современном мире гибкость и доступность занятий имеют большое значение, и готовы предложить вам качественное обучение в комфортных условиях вашего дома. Наши тренеры разработали специальные программы физической подготовки, которые помогут вам повысить общую выносливость и силу вне воды.</p>'

block content
  include ../../mixins/components/base-slider/tpl.pug

  +base-slider({
    type: 'courses',
    navigation: true,

    items: [
      {
        title: 'Дети школьного возраста',
        programm: ['Общая физическая подготовка', 'Растяжка'],
        image: './assets/img/program_1.png',
        price: '11 000*',
        note: 'Окончательную стоимость рассчитает менеджер после звонка'
      },
      {
        title: 'Дети дошкольного возраста',
        programm: ['Развивающая гимнастика'],
        image: './assets/img/program_2.png',
        price:' 6 000'
      },
    ]
  })
