include ../form-controls/checkbox/tpl.pug
include ../form-controls/textarea/tpl.pug
include ../form-controls/input/tpl.pug

mixin form(data)
  form.form(action="mail.php" method="POST" class= data.cls)
    input(type="hidden" name="recaptcha" class="g-recaptcha-response" value="")

    each field in data.fields
      case field.type
        when "form-data-hidden"
          input(type="hidden" name=field.name ? field.name : "Заполненная форма" value= field.value data-name=field.dataName)
        when "checkbox"
          +checkbox(field)
        when "textarea"
          +textarea(field)
        default
          +input(field)

    button.btn(type="submit")
      span!= data.buttonText
