include ../../components/social/tpl.pug
include ../../components/main-btn/tpl.pug
include ../../components/link/tpl.pug
include ../../components/company-info/tpl.pug
include ../../components/nav/tpl.pug


header.header
  .container
    .header__top
      +mainBtn({
        tag: "a",
        text: "Филиалы",
        href: "#affiliates",
        cls: "btn--outlined btn--anchor", 
        isIconed: true
      })
      
      a(href="/").logo
        img(src="./assets/img/logo.svg" alt="logo")
      
      +social({
        items: [
          {
            link: "https://t.me/+79670008025",
            target: '_blank',
            icon: "./assets/img/tg-filled-icon.svg",
            alt: "telegram"
          },
          {
            link: "https://wa.me/+79670008025",
            target: '_blank',
            icon: "./assets/img/whatsapp-filled-icon.svg",
            alt: "whatsapp"
          },
          {
            link: "mailto:info@aquacademy.ru",
            
            icon: "./assets/img/mail-filled-icon.svg",
            alt: "E-mail"
          }
        ]
      })
      
      +link({
        href: "tel:+79670008025",
        text: "+7 (967) 000 80 25",
        cls: "link--bolder"
      })

      +mainBtn({
        text: "Обратный звонок",
        modalID: "callback-modal"
      })

      include ../../components/burger/tpl.pug
    
    .header__bottom
      +nav({
        type: 'main-menu',
        cls: "nav--header",
        items: [
          {
            link: "#about",
            text: "О нас"
          },
          {
            link: "#online-training",
            text: "Онлайн тренировки"
          },
          {
            link: "#vacancies",
            text: "Вакансии"
          },
          {
            link: "#reviews",
            text: "Отзывы"
          },
          {
            link: "#callback",
            text: "Нужна помощь?"
          }
        ]
      })
    
    

    
    


            