mixin nav(data)
  nav.nav(class=data.cls ? data.cls : null)
    .nav__wrapper
      if data.type === 'main-menu'
        .nav__header
          a(href="/").logo
            img(src="./assets/img/logo.svg" alt="logo")
      ul.nav__list
        each item in data.items
          li.nav__list-item
            a.nav__list-link(href=item.link)= item.text
      

      if data.type === 'main-menu'
        .nav__footer
          +social({
            items: [
              {
                link: "https://t.me/+79670008025",
                target: '_blank',
                icon: "./assets/img/tg-filled-icon.svg",
                alt: "telegram"
              },
              {
                link: "https://wa.me/+79670008025",
                target: '_blank',
                icon: "./assets/img/whatsapp-filled-icon.svg",
                alt: "whatsapp"
              },
              {
                link: "mailto:info@aquacademy.ru",
                icon: "./assets/img/mail-filled-icon.svg",
                alt: "E-mail"
              }
            ]
          })

          +link({
            href: "tel:+79670008025",
            text: "+7 (967) 000 80 25",
            cls: "link--bolder"
          })

          +mainBtn({
            text: "Обратный звонок",
            modalID: "callback-modal"
          })