extends ../../../layouts/modals/tpl
include ../../main-btn/tpl.pug

block variables
  - modalId = "cost-modal"
  - modalClasses = "cost-modal"
  - modalTitle = ''
  - modalPreviewText = ''
  - showFooter = true

block modalContent

block modalFooter
  +mainBtn({
    text: 'Записаться',
    modalID: 'affiliate-modal',
  })
 
  
