extends ../../../layouts/modals/tpl

block variables
  - modalId = "callback-modal"
  - modalClasses = "callback-modal"
  - modalTitle = 'Обратный звонок'
  - modalPreviewText = ''

block modalContent
  p.text Свяжитесь с нами и мы ответим на все интересующие Вас вопросы.

  +form({
    fields: [
      {
        type: "form-data-hidden",
        value: "Обратный звонок"
      },
      {
        type: "text",
        name: "Имя",
        placeholder: "Имя",
        required: true
      },
      {
        type: "tel",
        name: "Телефон",
        placeholder: "Телефон",
        required: true
      },
      {
        type: "checkbox",
        name: "Согласие на обработку персональных данных",
        required: true,
        id: "callback-modal-consent",
        label: `Я согласен с условиями обработки <button type="button" data-modal-opener="policy-modal" class="link link--underlined">персональных данных</button>`
      }
    ],
    buttonText: "Отправить",
  })