.policy-modal {
	width: fit-content;
	max-width: 90vw;
	.modal-header .title {
		font-size: clamp(16px, 5vw, 22px);
		max-width: 480px;
		text-wrap: balance;
	}
}

.modal-overlay:has(.policy-modal) {
	z-index: 299;
}
