extends ../../../layouts/modals/tpl

block variables
  - modalId = "policy-modal"
  - modalClasses = "policy-modal modal--underlayed"
  - modalTitle = 'Политика конфиденциальности и обработки персональных данных'
  - modalPreviewText = ''

block modalContent
  .content-block
    <p><strong>подзаголовок</strong></p>
    <span>текст перед списком</span>
    <ol>
      <li>пункт 1</li>
      <li>пункт 2</li>
      <li>пункт 3</li>
      <li>пункт 4</li>
      <li>пункт 5</li>
      <li>пункт 6</li>
      <li>пункт 7</li>
      <li>пункт 8</li>
      <li>пункт 9</li>
      <li>пункт 10</li>
    </ol>

    <span>текст перед списком</span>
    <ul>
      <li>пункт 1</li>
      <li>пункт 2</li>
      <li>пункт 3</li>
      <li>пункт 4</li>
      <li>пункт 5</li>
      <li>пункт 6</li>
      <li>пункт 7</li>
      <li>пункт 8</li>
      <li>пункт 9</li>
      <li>пункт 10</li>
    </ul>

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.