mixin social(data)
  .social
    if data.title
      span.subtitle!= data.title
    ul
      each item in data.items
        li
          a(href=item.link target= item.target ? item.target : null rel="noopener noreferrer nofollow")
            img(src=item.icon alt=item.alt )