@use "@styles/mixins/text-truncate" as *;
@use "@styles/base/scoped-vars" as *;
@use "@styles/mixins/container-queries" as *;

.staff-preview-card {
	display: grid;
	grid-template-columns: 1fr;
	// align-items: center;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	max-width: 555px;
	background-color: var(--white-color);
	padding: 24px;

	@include container-up("staff-preview-card", $mobile-width) {
		grid-template-columns: 260px auto;
		padding: 0;
		align-items: revert;
	}

	&-container {
		display: flex;
		height: 100%;
		container: staff-preview-card / inline-size;
	}

	img {
		width: 100%;
		max-width: 240px;
		height: auto;
		object-fit: contain;
		object-position: top;
		border-radius: 20px;
		margin: 0 auto;

		@include container-up("staff-preview-card", $mobile-width) {
			height: 100%;
			max-width: revert;
			border-radius: revert;
			margin: revert;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		.title {
			font-size: clamp(20px, 2.6vw, 24px);
		}

		.text {
			@include text-truncate(5);
		}

		.title,
		.subtitle,
		.text {
			text-align: center;
		}

		.label {
			margin: 0 auto;
		}

		@include container-up("staff-preview-card", 534px) {
			align-items: revert;
			padding: 24px;

			.title,
			.subtitle,
			.text {
				text-align: revert;
			}

			.label {
				margin: revert;
			}
		}
	}
}
