extends ../../../../layouts/modals/tpl

block variables
  - modalId = "question-modal"
  - modalClasses = "question-modal"
  - modalTitle = 'Уточнить расписание'
  - modalPreviewText = ''

block modalContent
  p.text Пишите, мы с радостью проконсультируем Вас!

  +form({
    fields: [
      {
        type: "text",
        name: "name",
        placeholder: "Имя",
        required: true
      },
      {
        type: "tel",
        name: "phone",
        placeholder: "Телефон",
        required: true
      },
      {
        type: "checkbox",
        name: "question-modal-consent",
        required: true,
        label: `Я согласен с условиями обработки <button type="button" data-modal-opener="user-consent-modal" class="link link--underlined">персональных данных</button>`
      }
    ],
    buttonText: "Отправить"
  })