extends ../../../../layouts/modals/tpl

block variables
  - modalId = "success-modal"
  - modalClasses = "success-modal"
  - modalTitle = ''
  - modalPreviewText = ''

block modalContent
  p success-modal
 
  
