@keyframes shaker {
	20% {
		color: var(--danger-color);
		border-color: var(--danger-color);
	}

	40% {
		color: revert;
		border-color: revert;
	}

	60% {
		color: var(--danger-color);
		border-color: var(--danger-color);
	}

	80% {
		color: revert;
		border-color: revert;
	}
}
