include ../form-controls/checkbox/tpl.pug
include ../form-controls/textarea/tpl.pug
include ../form-controls/input/tpl.pug

mixin form(data)
  form.form(action="#" method="POST" class= data.cls)
    each field in data.fields
      case field.type
        when "checkbox"
          +checkbox(field)
        when "textarea"
          +textarea(field)
        default
          +input(field)

    button.btn(type="submit")
      span!= data.buttonText
