extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'vacancy'
  - sectionContainerClass = ''
  - sectionHeadline = 'Работа у нас'
  - sectionTitle = 'Вакансии'
  - sectionText = `<p>Добро пожаловать в академию водных искусств!</p><p>Присоединяйся к нам и помоги вдохновить будущее поколение на спортивные достижения в водных искусствах!</p>`

block content
  .content
    p content