extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'vacancy'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Работа у нас', class: 'label--bordered label--dotted' }
  - sectionTitle = 'Вакансии'
  - sectionText = `<p>Добро пожаловать в академию водных искусств!</p><p>Присоединяйся к нам и помоги вдохновить будущее поколение на спортивные достижения в водных искусствах!</p>`

block content
  .content
    p content