extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'vacancy'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Работа у нас', class: 'label--bordered label--dotted' }
  - sectionTitle = 'Вакансии'
  - sectionText = `<p>Добро пожаловать в академию водных искусств!</p><p>Присоединяйся к нам и помоги вдохновить будущее поколение на спортивные достижения в водных искусствах!</p>`

block content
  include ../../mixins/components/base-slider/tpl.pug

  +base-slider({
    type: 'vacancy',
    navigation: true,

    items: [
      {
        title: 'Тренер-преподаватель',
        labels: ['Опыт 1-3 года', 'Выплаты: два раза в месяц', 'График: 2/2'],
        text: 'Плавание — это доступный и безопасный вид физической активности, который приносит много пользы здоровью и подходит людям разного возраста и уровня физической подготовки. Те, кто плавают не только для удовольствия, часто обращаются за помощью к тренеру по плаванию.',
      },
      {
        title: 'Администратор',
        labels: ['Опыт 1-3 года', 'Выплаты: два раза в месяц', 'График: 5/2'],
        text: 'Плавание — это доступный и безопасный вид физической активности, который приносит много пользы здоровью и подходит людям разного возраста и уровня физической подготовки. Те, кто плавают не только для удовольствия, часто обращаются за помощью к тренеру по плаванию.',
      },
      {
        title: 'Инструктор по плаванию',
        labels: ['Опыт 1-3 года', 'Выплаты: два раза в месяц', 'График: 2/2'],
        text: 'Плавание — это доступный и безопасный вид физической активности, который приносит много пользы здоровью и подходит людям разного возраста и уровня физической подготовки. Те, кто плавают не только для удовольствия, часто обращаются за помощью к тренеру по плаванию.',
      },
    ]
  })
