@use "@styles/extends/_hover-opacity";

.social {
	.subtitle {
		font-size: clamp(16px, 2vw, 18px);
		font-weight: 600;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 10px;

		a {
			@extend %hover-opacity;
		}
	}
}
