mixin social(data)
  .social
    if data.title
      span.subtitle!= data.title
    ul.social__list-list
      each item in data.items
        li.social__list-item
          a(href=item.link)
            img(src=item.icon alt=item.alt )