mixin mainBtn(data)
	#{data.tag || 'button'}.btn(href=data.href ? data.href : null target= data.target ? data.target : null class= data.cls ? data.cls : null data-modal-opener= data.modalID ? data.modalID : null)
		span!= data.text ? data.text : 'Подробнее'

		if data.isIconed
			.btn__icon-wrap
				svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
					use(xlink:href="./assets/sprite.svg#chevron")
