extends ../../../../layouts/modals/tpl

block variables
  - modalId = "error-modal"
  - modalClasses = "error-modal"
  - modalTitle = ''
  - modalPreviewText = ''

block modalContent
  p error-modal
 
  
