extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'affiliate section--decorated'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Где находимся', class: 'label--dotted' }
  - sectionTitle = 'Филиалы'
  - sectionText = '<p>Мы гордимся нашей высококвалифицированной командой тренеров, которые имеют богатый опыт и стремление передать свои знания каждому ученику.</p>'

block content
  .content
    p content