extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'affiliate section--decorated'
  - sectionID = 'affiliates'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Где находимся', class: 'label--dotted' }
  - sectionTitle = 'Филиалы'
  - sectionText = '<p>Мы гордимся нашей высококвалифицированной командой тренеров, которые имеют богатый опыт и стремление передать свои знания каждому ученику.</p>'

block content
  include ../../components/switcher/tpl.pug
  include ../../components/schedule-card/tpl.pug
   
  +switcher({
    items: [
      { title: 'Бассейн «Чайковский»', active: true, dataID: 1 },
      { title: 'Бассейн «Бейт-Швидлер»', dataID: 2 },
    ],
  })

  .switch-item.grid.active(data-id="1")
    +schedule-card({
      title: 'Бассейн «Чайковский»',
      label: {
        text: 'Станция метро ул. 1905 года',
        cls: 'label--bordered',
        icon: 'metro', 
      },
      address: 'Ул. Малая Грузинская 24к3',
      workdays: [
        {
          text: 'Пн',
        },
        {
          text: 'Вт',
        },
        {
          text: 'Ср',
          active: true,
        },
        {
          text: 'Чт',
        },
        {
          text: 'Пт',
          active: true,
        }
      ],
      worktime: 'Среда/пятница 17:00-17:45 вода, 18:00-18:45 зал',
      prices: [
        {
          name: '8 занятий',
          value: '9 600 ₽',
        },

        {
          name: '4 занятия',
          value: '6000 ₽',
        },
        {
          name: 'Разовое занятие',
          value: '1800 ₽',
        },
        {
          name: 'Индивидуальное занятие',
          value: '3 200 ₽ - 45 мин',
        },
        {
          name: 'Индивидуальное занятие',
          value: '4 800 ₽ - 90 мин',
        },
        {
          name: 'Сплит тренировка',
          value: '2 500 ₽ - 45 мин',
        },
        {
          name: 'Сплит тренировка',
          value: '3 200 ₽ - 90 мин',
        },
      ],
    })

    picture
      source(type="image/webp" srcset="./assets/img/affiliate-img.webp 1x, ./assets/img/affiliate-img@2x.webp 2x")
      source(type="image/png" srcset="./assets/img/affiliate-img.png 1x, ./assets/img/affiliate-img@2x.png 2x")
      img(src="./assets/img/affiliate-img.png" alt="Бассейн «Чайковский»" width="555" height="360")

    <iframe title="Бассейн «Чайковский»" src="https://yandex.ru/map-widget/v1/?um=constructor%3A0d27ed5aee9f7fe1c9e7f83967f71d573e2e6ada8a38871e22455c9c790b0faf&amp;source=constructor&scroll=false" width="1140" height="400" frameborder="0"></iframe>

  .switch-item.grid(data-id="2")
    +schedule-card({
      title: 'Бассейн «Бейт-Швидлер»',
      label: {
        text: 'Станция метро Марьина Роща', 
        cls: 'label--bordered',
        icon: 'metro', 
      },
      address: 'ул. Образцова 11 стр.4',
      workdays: [
        {
          text: 'Пн',
        },
        {
          text: 'Вт',
        },
        {
          text: 'Ср',
          active: true,
        },
        {
          text: 'Чт',
        },
        {
          text: 'Пт',
          active: true,
        }
      ],
      worktime: 'Среда 15:30-16:15 вода, 16:30-17:15 зал.<br>Воскресенье 17:30-18:15 зал, 18:30-19:15 вода.',
      prices: [
                {
          name: '8 занятий',
          value: '9 600 ₽',
        },

        {
          name: '4 занятия',
          value: '6000 ₽',
        },
        {
          name: 'Разовое занятие',
          value: '1800 ₽',
        },
        {
          name: 'Индивидуальное занятие',
          value: '3 200 ₽ - 45 мин',
        },
        {
          name: 'Индивидуальное занятие',
          value: '4 800 ₽ - 90 мин',
        },
        {
          name: 'Сплит тренировка',
          value: '2 500 ₽ - 45 мин',
        },
        {
          name: 'Сплит тренировка',
          value: '3 200 ₽ - 90 мин',
        },
      ],
    })

    picture
      source(type="image/webp" srcset="./assets/img/affiliate-img.webp 1x, ./assets/img/affiliate-img@2x.webp 2x")
      source(type="image/png" srcset="./assets/img/affiliate-img.png 1x, ./assets/img/affiliate-img@2x.png 2x")
      img(src="./assets/img/affiliate-img.png" alt="Бассейн «Чайковский»" width="555" height="360")

    <iframe title="Бассейн «Бейт-Швидлер»" src="https://yandex.ru/map-widget/v1/?um=constructor%3A7729589d94c52382ceca4d3c24bc07b93699eb3f1032f4a284080e7b4300fc0a&amp;source=constructor&scroll=false" width="1140" height="400" frameborder="0"></iframe>