.affiliate-modal {
	max-width: 480px;
	.modal-content {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.title {
			font-size: 24px;
		}

		.price-list {
			ul {
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: flex;
					flex-direction: column;
					gap: 4px 24px;
					padding: 16px 0;

					@media (min-width: 420px) {
						flex-direction: row;
						align-items: center;
					}

					span {
						font-size: 14px;
						flex-basis: calc(50% - 12px);
					}

					span:first-child {
						margin-right: auto;
					}

					span:last-child {
						font-weight: 700;

						white-space: nowrap;

						@media (min-width: 420px) {
							text-align: right;
						}
					}

					&:not(:last-child) {
						border-bottom: 1px solid var(--gray-color);
					}
				}
			}
		}

		.btn {
			max-width: 100%;
		}
	}
}
