extends ../../../../layouts/modals/tpl
include ../../main-btn/tpl.pug

block variables
  - modalId = "affiliate-modal"
  - modalClasses = "affiliate-modal"
  - modalTitle = ''
  - modalPreviewText = ''

block modalContent

block modalFooter
  +mainBtn({
    text: 'Записаться',
    modalID: 'offer-modal'
  })
 
  
