include ../../components/label/tpl.pug
include ../../components/main-btn/tpl.pug

section.section.reviews#reviews
  .container
    .grid
      iframe(title="Отзывы на Яндекс.Карты", src="https://yandex.ru/maps-reviews-widget/218081862638?comments")
      
      .section__header
        +label({
          text: 'Что о нас говорят',
          cls: 'label--bordered label--dotted'
        })
        h2.title Отзывы
        .section-text
          p.text Мы очень рады, что наши ученики и их родители довольны нашими занятиями. Мы работаем над улучшением качества наших занятий и предоставлением лучшего сервиса для наших клиентов.

        +mainBtn({
          tag: 'a',
          text: 'Все отзывы на Яндекс',
          href: 'https://yandex.ru/maps/org/akademiya_vodnykh_iskusstv/218081862638/?ll=37.608500%2C55.789765&utm_medium=mapframe&utm_source=maps%22%20style%3D%22color%3A&z=16',
          target: '_blank'
        })

