extends ../../../../layouts/modals/tpl

block variables
  - modalId = "staff-preview-modal"
  - modalClasses = "staff-preview-modal"
  - modalTitle = ''
  - modalPreviewText = ''

block modalContent
  
