extends ../../../layouts/modals/tpl

block variables
  - modalId = "success-modal"
  - modalClasses = "success-modal"
  - modalTitle = 'Успешно!'
  - modalPreviewText = ''

block modalContent
  p.text В ближайшее время с Вами свяжется наш администратор и уточнит все детали и вопросы.
 
  
