extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'fees'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Спортивные активности', class: 'label--bordered label--dotted' }
  - sectionTitle = 'Сборы'
  - sectionText = '<p>Академия Водных Искусств предлагает уникальную возможность для наших учеников и любителей водных занятий принять участие в спортивных сборах! Это отличная возможность погрузиться в мир водных искусств, улучшить свои навыки и завести новые знакомства с единомышленниками.</p><p>Сборы проводятся несколько раз в году, и даты зависят от сезона и расписания академии. Информацию о предстоящих сборах можно найти на нашем сайте или получить, связавшись с нашим администратором.</p>'

block content
  .content
    p content