mixin checkbox(data)
  .checkbox-wrapper
    input(type="checkbox" id=data.name name= data.name class= data.cls data-required= data.required ? data.required : false)
    label(for= data.name)!= data.label
      
  
