@use "@styles/base/scoped-vars" as *;
@use "@styles/mixins/container-queries" as *;
.section {
	padding: clamp(32px, 4vw, 60px) 0;
	&--decorated {
		position: relative;
		margin: 100px 0;

		background-color: var(--light-color);

		&::before,
		&::after {
			position: absolute;
			left: 0;
			content: "";
			width: 100%;
			height: 100px;
		}

		&::before {
			top: -100px;
			background-image: url("@assets/img/section-top-layer.svg");
		}

		&::after {
			bottom: -100px;
			background-image: url("@assets/img/section-bottom-layer.svg");
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: clamp(16px, 3vw, 24px);
		margin-bottom: clamp(20px, 3vw, 32px);

		@include container-up("main", $mobile-width) {
			align-items: revert;
			text-align: revert;
		}

		.title {
			text-transform: uppercase;
		}

		&-side {
			&-container {
				container: section-header-side-container / inline-size;
			}
			display: flex;
			flex-direction: column;
			gap: clamp(16px, 3vw, 24px);
			margin-bottom: clamp(20px, 3vw, 32px);

			@include container-up("section-header-side-container", 475px) {
				flex-direction: row;
			}
		}
	}
}
