block variables
  - sectionClass = ''
  - sectionContainerClass = ''
  - sectionLabel = {}
  - sectionTitle = ''
  - sectionText  = ''
  - hideSectionHeader = ''
  - sectionBtn = {}
  - sectionHeaderSide = ''
  - sectionID = ''

include ../../mixins/components/label/tpl.pug
include ../../mixins/components/main-btn/tpl.pug

section.section(class= sectionClass id= sectionID)
  .container(class= sectionContainerClass)

    if hideSectionHeader != true
      .section__header
        if sectionLabel
          +label({
            text: sectionLabel.text,
            cls: sectionLabel.class
          })
        if sectionTitle
          h2.title!= sectionTitle
        if sectionText
          .section__text
            != sectionText
        if sectionBtn
          +mainBtn({
            text: sectionBtn.text,
            modalID: sectionBtn.modalID
          })
      
      if sectionHeaderSide
        .section__header-side-container
          .section__header-side
            include ../../mixins/components/info-card/tpl.pug
            +info-card({
              strong: '15+',
              text: 'лет опыта обучения различным водным искусствам.'
            })
            +info-card({
              strong: '100+',
              text: 'лет опыта обучения различным водным искусствам.'
            })
    block content

- hideSectionHeader = ''
- sectionHeaderSide = ''
- sectionBtn = ''
