block variables
  - sectionClass = ''
  - sectionContainerClass = ''
  - sectionLabel = {}
  - sectionTitle = ''
  - sectionText  = ''
  - hideSectionHeader = ''
  - sectionBtn = {}

include ../../mixins/label/tpl.pug
include ../../mixins/components/main-btn/tpl.pug

section.section(class= sectionClass)
  .container(class= sectionContainerClass)

    if hideSectionHeader != true
      .section__header
        if sectionLabel
          +label({
            text: sectionLabel.text,
            cls: sectionLabel.class
          })
        if sectionTitle
          h2.title!= sectionTitle
        if sectionText
          .section__text
            != sectionText
        if sectionBtn
          +mainBtn({
            text: sectionBtn.text
          })
    block content

- hideSectionHeader = ''
