include ../../components/label/tpl.pug
include ../../components/social/tpl.pug
include ../../components/form/tpl.pug

section.section.section--decorated.callback#callback
  .container
    .grid
      .section__header
        h2.title Нужна помощь?

        .section__text
          p В целом, конечно, перспективное планирование влечет за собой процесс внедрения и модернизации распределения внутренних резервов и ресурсов.

        +social({
          title: "Мы в социальных сетях:",
          items: [
            {
              link: "#",
              icon: "./assets/img/tg-filled-icon.png",
              alt: "telegram"
            },
            {
              link: "#",
              icon: "./assets/img/whatsapp-filled-icon.png",
              alt: "whatsapp"
            },
            {
              link: "#",
              icon: "./assets/img/mail-filled-icon.png",
              alt: "E-mail"
            }
          ]
        })
      
      +form({
        fields: [
          {
            type: "form-data-hidden",
            value: "Нужна помощь?"
          },
          {
            type: "text",
            name: "name",
            placeholder: "Имя",
            required: true
          },
          {
            type: "tel",
            name: "phone",
            placeholder: "Телефон",
            required: true
          },
          {
            type: "textarea",
            name: "message",
            placeholder: "Ваше сообщение",
          },
          {
            type: "checkbox",
            name: "consent",
            required: true,
            label: `Я согласен с условиями обработки <button type="button" data-modal-opener="user-consent-modal" class="link link--underlined">персональных данных</button>`
          }
        ],
        buttonText: "Отправить"
      })

