include ../../mixins/components/features-row/tpl.pug

section.section.hero#hero
  .container
    +features-row({
      items: [
        {
          icon: 'feature-icon-1.svg',
          title: 'Обучаем с нуля',
          text: 'Обучаем если нет навыков совсем.'
        },
        {
          icon: 'feature-icon-2.svg',
          title: 'Индивидуальный подход ',
          text: 'Обучаем если нет навыков совсем.'
        },
        {
          icon: 'feature-icon-3.svg',
          title: 'Присвоение разрядов',
          text: 'Обучаем если нет навыков совсем.'
        },
        {
          icon: 'feature-icon-4.svg',
          title: 'Подготовка в спорт школы',
          text: 'Обучаем если нет навыков совсем.'
        },
        {
          icon: 'feature-icon-5.svg',
          title: 'Спортивно-развлекательные сборы',
          text: 'Обучаем если нет навыков совсем.'
        }
      ]
    })
