extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'staff'
  - sectionContainerClass = ''
  - sectionHeadline = 'Наша команда'
  - sectionTitle = 'Тренеры'
  - sectionText = '<p>Мы гордимся нашей высококвалифицированной командой тренеров, которые имеют богатый опыт и стремление передать свои знания каждому ученику.</p>'

block content
  .content
    p content