extends ../../layouts/section/tpl.pug

block variables
  - sectionClass = 'staff section--decorated'
  - sectionID = 'staff'
  - sectionContainerClass = ''
  - sectionLabel = { text: 'Наша команда', class: 'label--dotted' }
  - sectionTitle = 'Тренеры'
  - sectionText = '<p>Мы гордимся нашей высококвалифицированной командой тренеров, которые имеют богатый опыт и стремление передать свои знания каждому ученику.</p>'

block content
  //- </div> 
  //- закрываем .container если нужно
  .section__content
    include ../../components/base-slider/tpl.pug

    +base-slider({
      type: 'staff-preview',
      navigation: true,
      items: [
        {
          name: 'Аникеева Алёна Алексеевна',
          label: '19 сентября 1993 г.р.',
          position: 'Руководитель академии водных искусств',
          text: 'Мастер спорта России по синхронному плаванию. Образование Российский Государственный Университет Физической Культуры, Спорта, Молодежи и Туризма (ГЦОЛИФК) 2015г.',
          detailText: `
            <p>Мастер спорта России по синхронному плаванию. Образование Российский Государственный Университет Физической Культуры, Спорта, Молодежи и Туризма (ГЦОЛИФК)  2015г.</p>
            <p>С 2010 года работает инструктором водных программ, 2010-2016г. артист «театра на воде», с 2011 года является тренером по синхронному плаванию.<br>Многократный победитель и призер Чемпионатов, Первенств и Кубков Москвы и России, а также Всероссийских и международных соревнований.</p>
            <p>Тренер успешно передает свои знания и опыт молодым спортсменам, вдохновляя их на достижение высоких результатов.</p>
          `,
          image: './assets/img/coach_1.png',
        },
        {
          name: 'Дубина Кристина Алексеевна',
          label: '19 сентября 1993 г.р.',
          position: 'Старший тренер академии водных искусств',
          text: 'Мастер спорта России по синхронному плаванию. Образование Московское среднее специальное училище олимпийского резерва №3 2018г.',
          detailText: `
            <p>Мастер спорта России по синхронному плаванию. Образование Московское среднее специальное училище олимпийского резерва №3 2018г.</p>
            <p>С 2014-2015 год работала инструктором водных программ, с 2015 года работает тренером по синхронному плаванию. Многократный победитель и призер Чемпионатов, Первенств и Кубков Москвы и России, а также Всероссийских и международных соревнований, победитель летней молодежной спартакиады 2014 г.</p>
            <p>Тренер вдохновляет молодых спортсменов, делясь своими знаниями и опытом, и помогает им достигать выдающихся результатов.</p>
          `,
          image: './assets/img/coach_2.png',
        },
      ]
    })

