include ../../components/social/tpl.pug
include ../../components/main-btn/tpl.pug
include ../../components/link/tpl.pug
include ../../components/company-info/tpl.pug
include ../../components/nav/tpl.pug

footer.footer
  .container
    .footer__section
      +nav({
        cls: "nav--footer",
        items: [
          {
            link: "#about",
            text: "О нас"
          },
          {
            link: "#online-training",
            text: "Онлайн тренировки"
          },
          {
            link: "#vacancies",
            text: "Вакансии"
          },
          {
            link: "#reviews",
            text: "Отзывы"
          },
          {
            link: "#callback",
            text: "Нужна помощь?"
          }
        ]
      })

    .footer__section
      a(href="/").logo
        img(src="./assets/img/logo.svg" alt="logo")

      +social({
        items: [
          {
            link: "#",
            icon: "./assets/img/tg-filled-icon.svg",
            alt: "telegram"
          },
          {
            link: "#",
            icon: "./assets/img/whatsapp-filled-icon.svg",
            alt: "whatsapp"
          },
          {
            link: "mailto:info@aquacademy.ru",
            icon: "./assets/img/mail-filled-icon.svg",
            alt: "E-mail"
          }
        ]
      })

      +link({
        href: "tel:88002006655",
        text: "8 (800) 200 66 55",
        cls: "link--bolder"
      })

      +mainBtn({
        text: "Обратный звонок",
        modalID: "callback-modal"
      })

    .footer__section.footer__section--bottom
      +company-info({
        heading: "© 2025, Академия Водных Искусств",
        content:[
          "Все права защищены",
          "ИНН 544545454",
          "ОГРН/ОГРНИП 54454542453453534"
        ]
      })

      .footer__links
        +mainBtn({
          modalID: "policy-modal",
          text: "Политика конфиденциальности и обработки персональных данных",
          cls: "policy-btn"
        })

        //- +link({
        //-   href: "#",
        //-   text: "Политика конфиденциальности",
        //-   cls: "link--underlined link--size-xs"
        //- })
    include ../../components/developer/tpl.pug
    


            